django
gunicorn
whitenoise
psycopg2-binary
psycopg2
requests
urllib3
asgiref
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
Pillow
mysqlclient
black
pytest
pytest-django
factory-boy